<div class="timeline">
    <div class="container left">
        <div class="content">
            <span class="title">20/11/2017</span>
            <span>Coli pris en charge</span>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <span class="title">21/11/2017</span>
            <span>Coli envoyé (En cours de livraison)</span>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <span class="title">22/11/2017</span>
            <span>Coli arrivé au pays de destination (CAMEROUN)</span>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <span class="title">22/11/2017</span>
            <span>Coli prêt à être récupéré au dépôt</span>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <span class="title">22/11/2017</span>
            <span>Coli livré.</span>
        </div>
    </div>
</div>
