<div class="timeline">
    <div class="container left">
        <div class="content">
            <span>20/11/2017</span>
            <p>Coli pris en charge</p>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>21/11/2017</h2>
            <p>Coli envoyé (En cours de livraison)</p>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>22/11/2017</h2>
            <p>Coli arrivé au pays de destination (CAMEROUN)</p>
        </div>
    </div>
    <div class="container right">
        <div class="content">
            <h2>22/11/2017</h2>
            <p>Coli prêt à être récupéré au dépôt</p>
        </div>
    </div>
    <div class="container left">
        <div class="content">
            <h2>22/11/2017</h2>
            <p>Coli livré.</p>
        </div>
    </div>
</div>
