/* You can add global styles to this file, and also import other style files */

@media only screen and (max-width: 640px) {
    .small-screen-hide {
        display: none;
    }
    .row-item {
        margin-bottom: -27px;
    }

    .company-title {
        font-size: 18px;
    }

    .timeline-size {
        width: 100%;
    }

    .suivi-margin-top {
        margin-top: 15%;
    }

    .timeline-height {
       height: 100px
    }
}

@media only screen and (min-width: 640px) {
    .big-screen-hide {
        display: none;
    }
    .company-title {
        font-size: 25px;
    }

    .timeline-size {
        width: 50%;
    }

    .suivi-margin-top {
        margin-top: 7%;
    }

    .timeline-height {
        height: 350px
    }

    .envoi-form-dialog {
        width: 50%;
    }
}

.main-content {
    margin-top: 9px;
}
